<div class="container">
  <div class="container d-flex flex-column justify-content-center align-items-center">
   <!--
    <img src="https://hips.hearstapps.com/hmg-prod/images/gordon-ramsay-646367718a5f4.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="avatar" class="rounded-circle mb-3">
    <h1>GordonBoy</h1>
    -->
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "rounded-circle mb-3" %>
    <h1><%= @user.username %></h1>
  </div>
  <div class="d-flex">
    <button class="button-filter">Recipes</button>
    <button class="button-filter">meals</button>
  </div>

  <%= @user_meals.each do |meal| %>
    <div class="container">
      <div class="card" style="col-12">


        <div id="header d-flex justify-content-start" class="card-title">

          <%= cl_image_tag meal.user.photo.key,  class: "avatar" %>
          <span>  <%= meal.user.username %> </span>



        </div>

        <div id="user_image" class="card-body">

          <%= cl_image_tag meal.photo.key,  class: "card-img-top" %>

        </div>



        <div id="actions">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

        <div id="comments">

    </div>
  <% end %>
