<%= form_for comment, data: { click_icon_target: "form", action: "submit->click-icon#send"} do |f| %>
  <%= f.hidden_field :commentable_id, value: meal.id %>
  <%= f.hidden_field :commentable_type, value: meal.class.to_s  %>
  <p> Comment: <%= f.text_area :content %></p>
  <%= f.submit %>
<% end %>
