 <% @user_meals.each do |meal| %>
    <div  class="container mt-3 mb-3"  style="padding: initial" >
      <div class="card-body">


        <div id="header d-flex justify-content-start opacity-0" class="card-title" >
          <img src="https://ih1.redbubble.net/image.999574152.6606/flat,750x1000,075,f.jpg" alt="user" class="avatar">
          <span>  <%= meal.user.username %> </span>
        </div>

        <div id="user_image" class="card-body">
          <%= cl_image_tag meal.photo.key, height: 500, width: 400, crop: :fill, class: "card-img-top mt-3 mb-3 " %>
        </div>

        <div  class="gradient" id="title_of_restaurant" >
          <h5> <%= meal.title%> at <%= meal.restaurant %> </h5>
          <p> <%= meal.caption %></p>
        </div>



        <div data-controller="click-icon" data-share-url-value="<%=  %>">
          <i class="fa-regular fa-heart fa-2xl" data-action="click->click-icon#toggleHeart" data-click-icon-target="heart"></i>
          <i class="fa-regular fa-comment fa-2xl" data-action="click->click-icon#showComment" data-click-icon-target="comment-icon"></i>
          <i class="fa-regular fa-share-from-square fa-2xl" data-action="click->click-icon#handleShare"></i>
          <%= content_tag(:p, "", class:"result", data: {share_target: "result"}) %>

          <div id="comments" class="d-none" data-click-icon-target="comment">

            <button data-action="click->click-icon#toggle">Show all comments</button>
            <div id="show-comments" data-click-icon-target="show-comments" class="">
              <% meal.comments.each do |comment| %>
                <ul style="list-style-type: none;">
                  <li> <%=cl_image_tag comment.user.photo.key,  class: "avatar"%> <strong><%=comment.user.username%></strong> </li>
                  <li style="margin-left: 50px;"><%= comment.content %></li>
                </ul>
              <% end %>
          </div>

        <div>
          <%= form_for @comment do |f| %>
              <%= f.hidden_field :commentable_id, value: params[:id] %>
              <%= f.hidden_field :commentable_type, value: "Meal" %>
              <p>Comment: <%= f.text_area :content %></p>
              <%= f.submit %>
            <% end %>
          </div>

          <div>
            <% meal.comments.each do |comment| %>
              <%= comment.content %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
