<div class="container">
  <div class="card" style="col-12">


    <div id="header d-flex justify-content-start" class="card-title">

      <%= cl_image_tag meal.user.photo.key, "avatar" %>
      <span>  <%= meal.user.username %> </span>



    </div>

    <div id="user_image" class="card-body">

      <img class="card-img-top" src="<%=meal.photo%>" alt="meal_photo">

    </div>

    <div id="meal_title">
      <!--
      <h5> <%=@meal.title%> </h5>
      -->
    </div>

    <div id="actions">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <div id="comments">

       <!--


      <p class="card-text"><%= @meal.comments.user %></p>
      -->
    </div>

  </div>
</div>
