
<div  class="container mt-3 mb-3"  style="padding: initial" >
  <div class="card-body" data-controller="click-icon">
    <div id="header d-flex justify-content-start opacity-0" class="card-title" >
      <img src="https://ih1.redbubble.net/image.999574152.6606/flat,750x1000,075,f.jpg" alt="user" class="avatar">
      <span>  <%= recipe.user.username %> </span>
    </div>

    <div id="user_image" class="card-body">
      <% recipe.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill, class: "card-img-top mt-3 " %>
        <% end %>
    </div>

    <div id="title_of_recipe" class="caption-gradient">
      <div class="d-flex justify-content-between">
        <h5> <%= recipe.title%> </h5>
        <% if current_user == recipe.user  %>
          <%= link_to user_recipe_path(recipe.user_id, recipe.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do%>
            <i class="fa-solid fa-xmark" style="color: #6f7785;"></i>
          <% end %>
        <% end %>
      </div>
      <p> <%= recipe.caption %></p>
      <p> <strong>Ingredients:</strong>  <%= recipe.ingredients %></p>
      <p> <strong>Instructions:</strong>  <%= recipe.instructions %></p>
    </div>

    <div>
      <i class="fa-regular fa-heart fa-2xl" data-action="click->click#toggleHeart"></i>
      <i class="fa-regular fa-comment fa-2xl" data-action="click->click-icon#showComment"></i>
      <i class="fa-regular fa-share-from-square fa-2xl" data-action="click->click-icon#handleShare"></i>


      <div id="comments" class="d-none" data-click-icon-target="comment">


        <div id="show-comments" data-click-icon-target="show-comments" class="">
          <ul data-click-icon-target="list" style="list-style-type: none;">
            <% recipe.comments.each do |comment| %>
                <%= render "shared/comment", comment: comment %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <%= render "shared/comment_form", meal: recipe, comment: @comment %>
    </div>
  </div>
</div>
