<div>
  <div class="container d-flex flex-column justify-content-center align-items-center" data-controller="add-friend">
    <!--
    <img src="https://hips.hearstapps.com/hmg-prod/images/gordon-ramsay-646367718a5f4.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="avatar" class="rounded-circle mb-3">
    <h1>GordonBoy</h1>
    -->
    <div class="container d-flex align-items-start p-4">
    <%= cl_image_tag @user.photo.key,  class: "circular-image" %>
    <div class="card-header">
      <h3><%= @user.username  %></h3>
      <p> Eating in: <%= @user.city %>, <%= @user.country%></p>
      <p> Maybe we need to a table column for a description </p>
    </div>

  </div>
  <div class="d-flex align-items-start mt-5">
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user) %>
    <% elsif current_user.sent_follow_request_to?(@user)%>
      <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
      <%= button_to "Follow",  follow_path(@user) %>
    <% end %>
    <%# <%= button_to "Add as a friend!", { :controller => "friendships", :action => "create", :user_id => @user.id },  remote: true, class: "btn btn-primary" %>
      <button class="recipes-filter"><%= link_to "Edit Profile", edit_user_registration_path, class: "text-decoration-none" %></button>
  </div>


    <% current_user.follow_requests.each do |request| %>
      <%= request.followerable.email %> wants to follow you
      <%= button_to "Accept", accept_path(request.followerable) %>
      <%= button_to "Decline", decline_path(request.followerable) %>
    <% end %>
  <hr />
    <%= link_to "Followers: #{@user.followers.count}", list_path(@user) %>

    <%# <div class="d-flex align-items-start mt-5">
      <button class="recipes-filter">Recipes</button>
      <button class="meals-filter">Meals</button>
    </div> %>
  <div data-controller="toggle-switch">
    <%= render "shared/toggle_switch" %>
    <div class="meals">
      <% @user_meals.each do |meal| %>
        <div data-toggle-switch-target="mealTag" class="d-none">
          <%= render "shared/meal_card", meal: meal %>
        </div>
      <% end %>
    </div>
    <div id="recipes" class="">
      <% @user_recipes.each do |recipe| %>
        <div data-toggle-switch-target="recipeTag" class="">
          <%= render "shared/recipe_card", recipe: recipe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
